*{
    color: white;
    font-family: inter;
}
.score{
    background-color: black;
    height: 150px;
    text-align: center;
    font-size: 45px;
}
.start{
    background-color: red;
    width: 50%;
    height: 150px;
    color: white;
    position: absolute;
    left: 420px;
    text-align: center;
    z-index: 100;
}
.game{
    background-color: black;
    height: 85vh;
    width: 35%;
    margin: 0 auto;
    position: absolute;
    left: 550px;
}
.hide{
    display: none;
}
.car{
    background-color: red;
    height: 100px;
    width: 70px;
    position: absolute;
    bottom: 0;
}
.line{
    background-color: white;
    height: 100px;
    width: 10px;
    margin: 0 auto;
    position: relative;
}
.enemy{
    background-color: yellow;
    height: 100px;
    width: 50px;
    position: absolute;
    border-radius: 10px;
}