.score{
    background-color: black;
    height: 150px;
}
.start{
    background-color: red;
    width: 50%;
    height: 150px;
    color: white;
    position: absolute;
    left: 420px;
}
.game{
    background-color: black;
    height: 100vh;
    width: 35%;
    margin: 0 auto;
}