.score{
    background-color: black;
    height: 150px;
}
.start{
    background-color: red;
    width: 50%;
    height: 150px;
    color: white;
    position: absolute;
    left: 420px;
    text-align: center;
    z-index: 100;
}
.game{
    background-color: black;
    height: 90vh;
    width: 35%;
    margin: 0 auto;
    position: absolute;
    left: 550px;
}
.hide{
    display: none;
}
.car{
    background-color: red;
    height: 100px;
    width: 70px;
    position: absolute;
    bottom: 0;
}
.line{
    background-color: white;
    height: 150px;
    width: 20px;
    margin: 0 auto;
    position: relative;
}